---
---


$site-ui-mode: {{ site.ui.mode | default: 'auto' }};

$site-ui-brand-dark: {{ site.ui.brand.dark | default: '#00ceff' }};
$site-ui-brand-light: {{ site.ui.brand.light | default: '#a20000' }};

$site-ui-border-color-dark: {{ site.ui.border_color.dark | default: '#5f5f5f' }};
$site-ui-border-color-light: {{ site.ui.border_color.light | default: '#dee2e6' }};

$site-ui-header-dark-color1: {{ site.ui.header.dark.color1 | default: '#062a48' }};
$site-ui-header-dark-color2: {{ site.ui.header.dark.color2 | default: '#304e67' }};
$site-ui-header-light-color1: {{ site.ui.header.light.color1 | default: '#080331' }};
$site-ui-header-light-color2: {{ site.ui.header.light.color2 | default: '#673051' }};

$site-ui-masthead-color-dark: {{ site.ui.masthead.color.dark | default: '#fff' }};
$site-ui-masthead-color-light: {{ site.ui.masthead.color.light | default: '#fff' }};

@import 'abstracts/highlight-dark';
@import 'abstracts/highlight-light';
@import 'abstracts/themer';
@import 'abstracts/variables';

// Base Styles
@import 'base/anchor';
@import 'base/body';
@import 'base/blockquote';
@import 'base/horizontal-rule';
@import 'base/scope-markdown';

// Components
@import 'components/alert';
@import 'components/footer';
@import 'components/header';
@import 'components/highlight';
@import 'components/masthead';
@import 'components/mobile-toc';
@import 'components/sidebar';

// Utilities
@import 'utilities/colors';
@import 'utilities/js';


div.author{
	display: inline-block;
	vertical-align: top;
	padding-right: 2em;
}

body, td {
   background-color: white;
}

/* element spacing */

p, pre { 
  margin: 0em 0em 1em;
}

/* center images and tables */
img, table {
  margin: 0em auto 1em;
}

p {
  text-align: justify;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: Helvetica, Arial, sans-serif;
  margin: 1.2em 0em 0.6em 0em;
  font-weight: bold;

}

h1.title {
  color: #87b13f;
  line-height: 1.1em;
  margin-top: 0px;
  border-bottom: 0px;
}

h1 {
  font-size: 160%;
  font-weight: normal;
  line-height: 1.1em;
  padding-bottom: 2px;
  border-bottom: 3px solid;
}

h2 {
  font-size: 130%;
}

h1, h2, h3 {
/*  color: #1a81c2; */
}

h3, h4, h5, h6 {
  font-size:115%;
} /* not expecting to dive deeper than four levels on a single page */

/* links are simply blue, hovering slightly less blue */
/*a { color: #1a81c2; }
a:active { outline: none; }
a:visited { color: #1a81c2; }
a:hover { color: #4c94c2; }
*/

pre, img {
  max-width: 100%;
  display: block;
}

pre {
  border: 0px none;
  background-color: #F8F8F8;
  white-space: pre;
  overflow-x: auto;
}

pre code {
  border: 1px #aaa dashed;
  background-color: white;
  display: block;
  padding: 1em;  
  color: #111;
  overflow-x: inherit;
}

/* markdown v1 */
pre code[class] {
  background-color: inherit;
}

/* markdown v2 */
pre[class] code {
  background-color: inherit;
}

/* formatting of inline code */
code { 
  background-color: transparent;
  color: #87b13f;
  font-size: 92%;
}

/* formatting of tables */

table, td, th {
  border: none;
  padding: 0 0.5em;
}

/* alternating row colors */
tbody tr:nth-child(odd) td {
  background-color: #F8F8F8;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

span.header-section-number {
  padding-right: 1em;
}

span.toc-section-number::after {
    content: "  ";
    white-space: pre;
}

@media print {
   * {
      background: transparent !important;
      color: black !important;
      filter:none !important;
      -ms-filter: none !important;
   }

   body {
      font-size:12pt;
      max-width:100%;
   }

   a, a:visited {
      text-decoration: underline;
   }

   hr {
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote {
      padding-right: 1em;
      page-break-inside: avoid;
   }

   tr, img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page :left {
      margin: 15mm 20mm 15mm 10mm;
   }

   @page :right {
      margin: 15mm 10mm 15mm 20mm;
   }

   p, h2, h3 {
      orphans: 3; widows: 3;
   }

   h2, h3 {
      page-break-after: avoid;
   }
}
